# macOS files
.DS_Store

# R specific files
.Rhistory
.RData
.Rproj.user/

# Python specific files
__pycache__/
*.pyc
env/

# Quarto specific
.quarto/

# Temporary or backup files
*.log
*.tmp

/.quarto/
